<!-- start: PAGE TITLE -->
<div ng-controller="CarsCreateCtrl">
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" > CREATE CARS</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
	{{alert.msg}}
</uib-alert>
<!-- end: PAGE TITLE -->
<!-- start: FORM VALIDATION -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<div >
				<form name="Form" >
					<div class="row">
						<div class="col-md-12">
							<fieldset>

								<div class="form-group" ng-class="{'has-error':Form.no_plat.$dirty && Form.name.$invalid, 'has-success':Form.no_plat.$valid}">
									<label class="control-label">
										 No_Plat <span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Enter your No_Plat" class="form-control" name="no_plat" ng-model="myModel.no_plat"
									 required />
									<span class="error text-small block" ng-if="Form.no_plat.$dirty && Form.no_plat.$invalid">First Name is required</span>
									<span class="success text-small" ng-if="Form.no_plati.$valid">Thank You!</span>
								</div>
								<div class="form-group" ng-class="{'has-error':Form.type.$dirty && Form.type.$invalid, 'has-success':Form.type.$valid}">
									<label class="control-label">
										 Type <span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Enter your Type" class="form-control" name="type" ng-model="myModel.type"
									 required />
									<span class="error text-small block" ng-if="Form.type.$dirty && Form.type.$invalid">First Type is required</span>
									<span class="success text-small" ng-if="Form.type.$valid">Thank You!</span>
								</div>

								<!--<div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
									<label class="control-label">
										Email <span class="symbol required"></span>
									</label>
									<input type="email" placeholder="Enter a valid E-mail" class="form-control" name="email" ng-model="myModel.email" required>
									<span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$error.required">Email is required.</span>
									<span class="error text-small block" ng-if="Form.email.$error.email">Please, enter a valid email address.</span>
									<span class="success text-small" ng-if="Form.email.$valid">It's a valid e-mail!</span>
								</div>-->

								<div class="form-group" ng-class="{'has-error':Form.merk.$dirty && Form.merk.$invalid, 'has-success':Form.merk.$valid}">
									<label class="control-label">
										Merk <span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Enter your Merk" class="form-control" name="merk" ng-model="myModel.merk"
										   required />
									<span class="error text-small block" ng-if="Form.merk.$dirty && Form.merk.$invalid">First Merk is required</span>
									<span class="success text-small" ng-if="Form.merk.$valid">Thank You!</span>
								</div>

								<div class="form-group" ng-class="{'has-error':Form.color.$dirty && Form.color.$invalid, 'has-success':Form.color.$valid}">
									<label class="control-label">
										Color <span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Enter your Class" class="form-control" name="color" ng-model="myModel.color"
										   required />
									<span class="error text-small block" ng-if="Form.color.$dirty && Form.color.$invalid">First Color is required</span>
									<span class="success text-small" ng-if="Form.color.$valid">Thank You!</span>
								</div>

							</fieldset>
						</div>
						</div>

					<div class="row">
						<div class="col-md-12">
							<div class="pull-left">
								<button md-ink-ripple class="btn btn-primary" ng-click="submitData(false)"
										ng-disabled="Form.$invalid || process">Simpan
								</button>
								<button md-ink-ripple class="btn btn-primary" ng-click="submitData(true)"
										ng-disabled="Form.$invalid || process">Simpan & Kembali
								</button>
								<button type="reset" class="btn btn-primary btn-o" ng-disabled="process" ng-click="form.reset(Form)">
									Reset
								</button>
								<button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.cars"
										ng-disabled="process">Kembali
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	</div>
<!-- end: FORM VALIDATION -->